body{
    background-color: #1b2735;
    padding: 0;
    margin: 0;
    color: white;
}

/* --------------------------------------------- Font Sizes ---------------------------------------------- */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, sans-serif;
    margin-bottom: .6rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--white)
}

.h1,
h1 {
    font-size: 4vw;
    line-height: 1.1;
    font-weight: 800
}

.h2,
h2 {
    font-size: 3.5vw;
    line-height: 1;
    font-weight: 800
}

.h3,
h3 {
    font-size: 3vw;
    line-height: 1;
    font-weight: 800
}

.h4,
h4 {
    font-size: 2.5vw;
    line-height: 1.1;
    font-weight: 800
}

.h5,
h5 {
    font-size: 22px;
    line-height: 30px
}

.p,
p {
    font-size: 1.5vw;
    line-height: 1.35;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: var(--white)
}

@media (max-width:1300px) {
    .p,
    p {
        font-size: 1.5vw
    }
}

@media (max-width:1199px) {
    .h1,
    h1 {
        font-size: 10vw;
        line-height: 1.1;
        font-weight: 800
    }
    .p,
    p {
        font-size: 1.5vw
    }
}

@media (max-width:991px) {
    .p,
    p {
        font-size: 3vw
    }
    .h2,
    h2 {
        line-height: 1;
        font-weight: 800;
        font-size: 2.2em;
    }
    .h3,
    h3 {
        font-size: 5vw;
        line-height: 1;
        font-weight: 800
    }
    .h4,
    h4 {
        font-size: 6.2vw;
        line-height: 1.1;
        font-weight: 800
    }
}

@media (max-width:767px) {
    .p,
    p {
        font-size: 3.4vw
    }
}

@media (max-width:575px) {
    .h1,
    h1 {
        font-size: 10.7vw;
        line-height: 1.35
    }
    .p,
    p {
        font-size: 14px
    }
    .h3,
    h3 {
        font-size: 8.2vw
    }
    .h4,
    h4 {
        font-size: 7vw;
        line-height: 1.1;
        font-weight: 800
    }
}


/* --------------------------------------------- Font Sizes ---------------------------------------------- */

/* ------------------------------------------- Home Section --------------------------------------------- */

.landing-logo{
    width: 100%;
    height: 400px;
}

.home-mainbox-2{
    margin-top: 45px;
    width: 48%;
}

.home-box1{
    height: 1.8em;
    background: linear-gradient(118.61deg, rgba(71, 78, 142, 0.45) -26.34%, rgba(60, 64, 97, 0.09) 53.42%);
    backdrop-filter: blur(46px);
    font-style: normal;
    font-weight: 900;
    font-size: 2.0em;
    color: #fff !important;
    text-shadow: 5px 4px 10px #2968f0;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
}

.home-box2{
    width: 48% !important;
    height: 6em;
}

.home-box2-1{
    background-color:#4d5664d8;
    backdrop-filter: blur(46px);
    height: 50%;
    color: #909BD9 !important;
    font-size: 1.1rem;
    font-weight: 900;
    text-shadow: 5px 4px 10px #000000;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px 7px 0 0;
}

.home-box2-2{
    background: linear-gradient(118.61deg, rgba(71, 78, 142, 0.45) -26.34%, rgba(60, 64, 97, 0.09) 53.42%);
    backdrop-filter: blur(46px);
    color: #909BD9 !important;
    font-size: 1.1rem;
    font-weight: 900;
    text-shadow: 5px 4px 10px #000000;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 0 7px 7px;
    height: 50%;
}

.home-button{
    width: 48%;
}


.home-button-1{
    background: #909BD9;
    backdrop-filter: blur(46px);
    border-radius: 5px;
    height: 3.3em;
    max-width: 48% !important;
    cursor: pointer !important;
}

.home-button-1 h4{
    font-size: 20px;
    font-weight: 700;
    color: #0A144E;
    width: 65%;
}

.home-button-1 a , .home-button-2 a{
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.home-button-2{
    background: linear-gradient(105.22deg, #5C6BC0 -54.96%, #18298A 162.84%);
    backdrop-filter: blur(46px);
    border-radius: 5px;
    height: 3.3em;
    max-width: 48% !important;
    cursor: pointer !important;
}

.home-button-2 h4{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #dadada;
    width: 65%;
}

.discordimg,
.registerimg {
    height: 30px !important;
    width: 30px !important;
}


@media screen and (min-width: 1000px) and  (max-width: 1300px){
    .home-box1{
        font-size: 1.5em;
    }

    .home-button-1 h4 , .home-button-2 h4{
        font-size: 18px;
        width: 67%;
    }

    .home-box2-1, .home-box2-2{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and  (max-width: 1000px){
    .home-box1{
        font-size: 1.2em;
    }

    .home-button-1 h4 , .home-button-2 h4{
        font-size: 14px;
        width: 68%;
    }

    .home-box2-1, .home-box2-2{
        font-size: 0.8rem;
    }

    .discordimg,
    .registerimg {
        height: 24px !important;
        width: 24px !important;
    }
}

@media(max-width:767px) {
    .home-mainbox-2{
        margin-top: 20px;
        width: 100%;
    }
}


@media(max-width:600px) {
    .landing-logo{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    .home-mainbox-2{
        margin-top: 0px;
        width: 100%;
    }

    .home-box1{
        font-size: 1em;
    }

    .home-button-1 h4 , .home-button-2 h4{
        font-size: 11px;
        width: 95%;
    }

    .home-box2-1, .home-box2-2{
        font-size: 0.7rem;
    }

    .home-box2{
        height: 4em;
    }
    .home-button-1 , .home-button-2{
        height: 2.8em;
    }

    .discordimg,
    .registerimg {
        height: 18px !important;
        width: 16px !important;
    }
    
}

/* ------------------------------------------- Home Section --------------------------------------------- */

/* ------------------------------------------- Themes Section ------------------------------------------- */

.carousel-item{
    height: 600px;
    width: 100%;
}

.img-themes img{
    height: 100%;
    width: 100%;
}

.carousel-indicators li {
    height: 5px;
    width: 30px;
}

.carousel-control-next-icon {
    position: absolute;
    right: 0;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 0;
}

.carousel-indicators li.active {
    height: 5px;
    width: 30px !important;
}

@media (max-width:480px) {
    .carousel-indicators {
        display: none;
    }
}

/* ------------------------------------------- Themes Section ------------------------------------------- */
